
<% @existing_books.each do |book| %>

    <div id="title"><%= book.title %></div>
    <div id=""><%= book.author %>
    <!--><td><%= book.description %></td> -->
    <td><%= book.year %></td>
    <td><%= book.state %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>

<% end %> 
<br /> 

<%= link_to 'New Existing book', new_book_path %> <br /> <br />  

<% @sought_books.each do |book| %>

    <div id="title"><%= book.title %></div>
    <div id=""><%= book.author %>
    <!--><td><%= book.description %></td> -->
    <td><%= book.year %></td>
    <td><%= book.state %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>

<% end %>

<br />


<%= link_to 'I seek a book', {:controller => "books", :action => "new_sought"} %>