<div id="container">
<div id="existing_books">
    <h3>Народ предлагает:</h3>
    <% @existing_books.each do |book| %> 
    <ul>
        <li>       
            <div id="title"><%= book.title %></div>
            <div id="extra"><%= book.author %>&nbsp;-&nbsp;<%= book.year %></div>

            <td><%= link_to 'Show', book %></td>
    	    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    	    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>  
        </li>
    </ul>   
    <% end %> 
        <%= will_paginate @existing_books %><br /> 
    	<%= link_to 'New Existing book', new_book_path %> <br />
    	
         
</div>

 
<div id="sought_books">
    <h3>Народ ищет:</h3> 
<% @sought_books.each do |book| %>
   <ul>
       <li>       
           <div id="title"><%= book.title %></div>
           <div id="extra"><%= book.author %>&nbsp;-&nbsp;<%= book.year %></div>

           <td><%= link_to 'Show', book %></td>
   	       <td><%= link_to 'Edit', edit_book_path(book) %></td>
   	       <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>  
       </li>
   </ul>   
   <% end %>
   <%= will_paginate @sought_books %>
   <%= link_to 'I seek a book', {:controller => "books", :action => "new_sought"} %> 
</div>

<br />



<div class="clear">&nbsp;</div>    
</div> 